[submodule "packages/base16-shell"]
	path = packages/base16-shell
	url = https://github.com/elnawe/base16-shell.git
[submodule "applications/i3"]
	path = applications/i3
	url = https://github.com/i3/i3.git
[submodule "applications/tmux"]
	path = applications/tmux
	url = https://github.com/tmux/tmux.git
[submodule "applications/neomutt"]
	path = applications/neomutt
	url = https://github.com/neomutt/neomutt.git
